@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+JP:wght@400;700&display=swap');

html, body {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI';
}

a {
    font-size: 35px;
    color: white;
}
#viewer {
    margin: auto;        
    height: 100%;
    max-width: auto;
    text-align: left;
    background-image: url(./penguin_back.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    image-rendering: pixelated;
}


#content {
    position: absolute;
    padding: 100px;
    left: 70px;
    bottom: 50px; 
    width: auto;
    height: auto;
}
.header_contents {
    box-shadow: 0 8px 16px rgba(129, 129, 129, 0.5); /* 強めの影 */
    width: 100%;
    max-width: 2000px;
    height: 100%;
    margin: 0 auto;
    display: flex
;
    justify-content: space-between;
    align-items: center;
}

.site-logo img {
    height: 50px;
    padding-left: 20px;
    width: auto;
}

.nav_link {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #000000;
    margin: 0 15px;
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.header_nav_lists {
    display: flex
;
}

a {
    
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline; 
}

@media screen and (max-width: 500px) {
    #viewer {
        height: 100vh; /* 背景がしっかりと全体を覆うように調整 */
        width: 100%;
    }

    #content {
        padding: 20px; /* 内部余白を縮小 */
        left: 10px;    /* 左端からの距離を縮小 */
        bottom: 200px;  /* 下端からの距離を縮小 */
        width: calc(100% - 50px); /* 幅を画面サイズに適応 */
        height: auto;  /* 高さを自動調整 */
    }

    /* .header_contentsの調整 */
    

    .site-logo img {
        height: 30px; /* ロゴの高さを縮小 */
    }

    .header_contents {
        flex-wrap: nowrap; /* 横並びを維持 */
        justify-content: space-between; /* スペースを調整 */
        font-size: 18px; /* フォントサイズを小さく */
    }

    .nav_link {
        font-size: 16px; /* スマホ用フォントサイズ */
        margin: 0 5px;
        white-space: normal; /* 改行可能にする */
        
        
       
        
    }

    .header_nav_lists {
        display: flex;
        flex-wrap: wrap; /* 改行を可能にする */
        gap: 8px; /* リンク間のスペースを調整 */
    }

    .header_nav_lists li {
        flex: 1 1 25%; /* 各リンクが均等に配置されるよう調整 */
        max-width: 25%; /* 各リンクの最大幅を設定 */
        
    }

    .header_nav_lists li:nth-child(4) {
        flex-basis: 100%; /* 4番目のアイテムで行を切り替え */
    }
    /* リンクの調整 */
    a {
        font-size: 20px; /* フォントサイズを小さく */
        
    }

    #logo {
        width: 80%; /* 横幅を画面幅の50%に設定 */
        max-width: 300px; /* 最大幅を150pxに制限 */
        height: auto; /* アスペクト比を維持 */
    }
}
    
    


