

body {
    margin: auto;
    font-family: 'Hiragino Sans W3', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'メイリオ', 'Meiryo', 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
}

.header_contents {
    box-shadow: 0 8px 16px rgba(129, 129, 129, 0.5); /* 強めの影 */
    width: 100%;
    max-width: 2000px;
    height: 100%;
    margin: 0 auto;
    display: flex
;
    justify-content: space-between;
    align-items: center;
}

.site-logo img {
    height: 50px;
    padding-left: 20px;
    width: auto;
}

.nav_link {
    font-size: 22px;
    font-family: "Montserrat";
    font-weight: bold;
    color: #000000;
    margin: 0 15px;
}

nav ul {
    list-style: none; 
    padding: 0; 
    margin: 0;
}

.header_nav_lists {
    display: flex
;
}

a {
    text-decoration: none;
    
}

a:hover {
    text-decoration: underline; 
}

table {
    width: 100%; 
    border-collapse: collapse; 
    margin: 20px auto; 
}


th, td {
    border: 1px solid #ccc; 
    padding: 10px;
    text-align: center; 
}


th {
    background-color: #f4f4f4; 
    font-weight: bold;
}

.subtitle{
    font-family:Impact ;
    font-weight: normal;
    font-style: oblique;
}

.content{
    text-align: center;
}

@media screen and (max-width: 500px) {
   
    /* .header_contentsの調整 */
    
    .kashi{
        width: 200px;
        height: 40px;
    }

    .site-logo img {
        height: 30px; /* ロゴの高さを縮小 */
    }

    .header_contents {
        flex-wrap: nowrap; /* 横並びを維持 */
        justify-content: space-between; /* スペースを調整 */
        font-size: 18px; /* フォントサイズを小さく */
    }

    .nav_link {
        font-size: 16px; /* スマホ用フォントサイズ */
        margin: 0 5px;
        white-space: normal; /* 改行可能にする */
        
        
       
        
    }

    .header_nav_lists {
        display: flex;
        flex-wrap: wrap; /* 改行を可能にする */
        gap: 8px; /* リンク間のスペースを調整 */
    }

    .header_nav_lists li {
        flex: 1 1 25%; /* 各リンクが均等に配置されるよう調整 */
        max-width: 25%; /* 各リンクの最大幅を設定 */
        
    }

    .header_nav_lists li:nth-child(4) {
        flex-basis: 100%; /* 4番目のアイテムで行を切り替え */
    }
    /* リンクの調整 */
    a {
        font-size: 20px; /* フォントサイズを小さく */
        
    }

    h1 {
        font-size: 20px; /* スマホサイズでのタイトルフォント調整 */
    }

    table {
        width: 100%;
        overflow-x: auto; /* 横スクロールを追加 */
        display: block; /* テーブルをブロック要素にしてスクロール可能に */
    }

    th {
        width: 33.33%; /* 各列の幅を均等に */
    }
}

    






